{% load static %}
<html>
    <head>
        <title>Todo管理</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/todo.css' %}">
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <p>こんにちは {{ user.username }} さん<small>(<a href="{% url 'logout' %}">ログアウト</a>)</small></p>
            {% else %}
                <p><a href="{% url 'login' %}">ログイン</a></p>
            {% endif %}
            <h3><a href="/">Todo管理</a></h3>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>