{% extends 'todo/base.html' %}

{% block content %}
    <h3>タイトル</h3>
    <div class="detail">    
    <p>{{ todo.title }}</p></div>
    <h3>内容</h3>
    <div class="detail">
        <p>{{ todo.text|linebreaksbr }}</p></div>
        <p>更新日時：{{ todo.updated_date }}   更新者：{{ todo.author }}</p>
    {% if user.is_authenticated %}
        <div class="submit">    
            <button onclick="location.href='{% url 'todo_edit' pk=todo.pk %}'">編集</button>
            {% if todo.complete == True %}
                <button onclick="location.href='{% url 'todo_complete' pk=todo.pk %}'">完了</button>
            {% else %}
                完了済み
            {% endif %}
            <button onclick="location.href='{% url 'todo_delete' pk=todo.pk %}'">削除</button>
        </div>

    {% endif %}
{% endblock %}