.page-header {
    background-color:#191970;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1,.page-header h3 a, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 24pt;
    text-decoration: none;
}

.page-header p,.page-header p:hover{
    font-size:15pt;
    color: #ffffff;
    float: right;
    margin-right: 20px;
}

.todo-add{
    margin-left: 90%;
    margin-bottom:15px;
}

table{
    border: solid 1px black;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
  
table th,table td{
    text-align: center;
    padding: 15px 0;
    border: solid 1px black;
}
  
.submit{
    text-align : center ; 
}

.content {
    margin-left: 40px;
}

.logout{
    text-align : center ; 
}

.detail{
    padding-left: 20px;
}

.post-form textarea, .post-form input {
    width: 100%;
}

